html{
    font-size: 17px;
    font-weight: 600;
}

*{
    box-sizing: border-box ;

}   

a{
    text-decoration: none;
    color: #000;
}
header{
    padding: 35px 257px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
p{
    letter-spacing: -1.3px;
}
.header_wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
}   
.header_wrap>h1>a{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 42px;
    height: 42px;
    background: url(../img/logo_simbol.svg)center/contain no-repeat;
}
.logo_txt{
    width: 274px;
    height: 42px;
    background: url(../img/logo_tx.svg)center/contain no-repeat;
}
.gnb{
    padding: 11px 0;
   
}
.gnb_ul{
    display: flex;
    justify-content: space-between;
}
.gnb_ul>li{
    display: flex;
    position: relative;
    justify-content: space-between;
}

.gnb_ul>li>a{
    padding: 0px 33px;
    color: #fff;
    letter-spacing: -1.0px;
}
.gnb_ul>li:first-of-type>a{
    margin-left: 0;
}   
.gnb_ul_dropdown{
    width: 100%;
    position: absolute;
    top:20px;
    border-radius: 15px;
    font-size: 11px;
    background-color: white;
    display: none;
}
.gnb_ul_dropdown>li>a{
    display: block;
    color: #b4b4b4;
    text-align: center;
    padding: 15px 20px;
    
}
.gnb_ul>li:first-of-type:hover> .gnb_ul_dropdown{
    display: block;
}

.member{
    padding: 11px 0;
}
.member a{
    color: #fff;
    font-size: 0.8rem;
}
.member_menu{
    width: 30px;
    height: 23px;
    margin-right: 10px;
    margin-top: 5px;
    display: none;
}
.member_menu>span{
    display: block;
    margin: 7px 0;
    width: 100%;
    height: 2px;
    background-color: white;
}
.bg_img{
    width: 1920px;
    height: 970px;
    border-radius: 0 0 200px 0;
    background: url(../img/img_visual01.jpg)center/contain no-repeat;
    background-size: cover;
    background-position: center;
}
.visual{
    position: relative;
    margin-top: 110px;
    padding: 0 110px;
    height: 740px;
    
}
.slogan{
    position: relative;
    width: 100%;
    height: 505px;

}
.slide_title{   
    width: 100%;
    padding: 0 611px;
}   
.slide_title_img{
    width: 478px;
    height: 230px;
    background: url(../img/visual_tx.svg)center/contain no-repeat;
}
.slide_text{
    width: 100%;
    margin-top: 55px;
    text-align: center;
}
.slide_text>p{
    color: #fff;
    margin-top: 15px;
}
.slide_btnL{
    position: absolute;
    width: 108px;
    height: 108px;
    top:50%;
    transform: translateY(-50%);
    left: 0px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.slide_btnR{
    position: absolute;
    width: 108px;
    height: 108px;
    top:50%;
    transform: translateY(-50%);
    right: 0px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.slide_btnL::after{
    position: absolute;
    content: "";
    top: 43px;
    left: 50px;
    width: 18px;
    height: 18px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(45deg);
}
.slide_btnR::after{
    position: absolute;
    content: "";
    top: 43px;
    left: 40px;
    width: 18px;
    height: 18px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    transform: rotate(45deg);
}

.slogan_btn{
    margin: 95px 748px;  
    border-radius: 50px;
    border: 3px solid white;
}

.slogan_btn_flex{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: white;
    margin: 28px 42px;
}
.slogan_btn_img{
    width: 13px;
    height: 13px;
    background: url(../img/icon_arrow.svg)center/contain no-repeat;
}
.txt{
    margin-bottom: 30px;
}
.scroll{
    position: absolute;
    bottom: -10px;
    left: 50%;
    font-size: 12px;
    color:#fff;
    transform: translateX(-50%);
}
.scroll>.ani{
    width: 1px;
    height: 80px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
}
.scroll>.ani::after{
    position: absolute;
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: -2px;
    top: 0;
    background-color:#fff;
    animation: scroll 1.2s infinite;

}
@keyframes scroll{
    0%{top:0; width: 5px; height: 5px; left: -2px;}
   80%{top:70px; width: 5px; height: 5px;  left: -2px; opacity: 1;}
   100%{top:70px; width: 20px; height: 20px; left: -9px; opacity: 0.2;}
}

.visual_btn_cicle{
    position: absolute;
    bottom: -100px;
    right:240px;
    width: 188px;
    height: 188px;
    text-align: center;
    border-radius: 50%;
    color: white;
    background-color: #09847F;
}
.btn_cicle_img{
    
    margin: 49px 80px;
    width: 33px;
    height: 33px;
    margin-bottom: 14px;
    background: url(../img/icon_apply.svg)center no-repeat;

}
.visual_btn_cicle>p{
    margin-bottom: 5px;
}


.info{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
    display: flex;
    width: 100%;    
    padding: 108px 258px;
}
.info_wrap{
    display: flex;
    width: 100%;
}                                                                                                                                                                                           

.dokdo{

    background: url(../img/img_dokdo.png)no-repeat;
    background-position: bottom right;
    border-radius:50px;
  
}

.dokdo_wrap{
    letter-spacing: -2px;
    margin: 82px 230px 102px 74px;
}

.dokdo_wrap>h3{
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 35px;    
}
.dokdo_wrap>p{
    color: #696969;
    margin-bottom: 12px;
}
.dokdo_btn{
    margin-top: 92px;
    margin-right: 220px;
    border-radius: 50px;
    border: 3px solid #09847F;
}
.dokdo_btn_flex{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: #09847F;
    margin: 23px 42px;
}
.dokdo_btn_flex>svg{
    width: 13px;
    height: 13px;
   
}

.view_wrap{
   
    margin: 82px 75px 36px 132px;
     
}
.view_wrap>h3{
    font-size: 27px;
    font-weight: bold;
}
.view_flex{
    margin-top: 30px;
    display: flex;
 
}
.view_svg{
    position: relative;
    width: 70px;
    height: 70px;    
    background-color: #f5f5f8;
    border-radius: 50%;
    margin-right: 60px;
}
.view_svg::after{
    position: absolute;
    content: '';
    width: 36px;
    height: 36px;
    background: url(../img/icon_speaker.svg)center no-repeat;
    left: 50%;
    top: 50%;
    opacity: 0.3;
    transform: translate(-50%, -50%);
}
.view_flex{
    border-bottom: 1px dashed  #d8d9e0;
}

.view_flex>p{
    margin-top: 22px;
    margin-right: 24PX;
    font-size: 30px;
    font-weight: bolder;
   
}
.view_flex>a{

    margin: 12px 0;
    border-radius: 25px;
    background-color: #76777E;
    font-size: 14px;
    line-height: 50px;
   
}
.view_flex>a>p{
    color: white;
    margin:0 29px;  
    font-size: 14PX;
  
}   


.view_list{
    position: relative;
    margin-left: 16px;

}
.view_list>div{
    display: flex;
    margin-top: 22px;
}
.view_list>div>li{
    margin-right: 60px;
}
.view_list>div:last-of-type>li{
    margin-right: 26px;
}
.view_list>div:last-of-type>li{
    letter-spacing: 34px;
}
.view_list p{
    font-size: 17px;
    font-weight: 600;
    color: #8d8d8d;
    margin-bottom: 10px;
}
.view_list p:nth-of-type(3){

    color: #b4b4b4;
}


.view_list>div:first-of-type>li::before{
    content: "";
    position: absolute;
    top: 5px;
    left: -16px;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #8d8d8d;
}

.view_list>div:nth-of-type(2)>li::before{
    content: "";
    position: absolute;
    top: 108px;
    left: -16px;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #8d8d8d;
}
.view_list>div:last-of-type>li::before{
    content: "";
    position: absolute;
    top: 157px;
    left: -16px;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #8d8d8d;
}
.notice_cicle{
    position: absolute;
    top:-65px;
    left:700px;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 50%;
    border: 50px solid #09847F;
    z-index: 1;
}
.notice{
    position: relative;
    display: flex;
    width: 100%;    

}
.notice_wrap{
    display: flex;
    margin: 0 260px;
}
.notcie_btn_wrap{
    display: flex;
}
.notice_btn{
    position: relative;
    width: 50px;
    height: 50px;
    background-color:  #8d8d8d;
    border-radius: 50%;
    margin-right: 24px;
}
.notcie_title{
 
    margin-right: 232px;
}

.notcie_title>h3{
    font-size: 43px;
    letter-spacing: -4px;
    margin-top: 72px;
    margin-bottom: 40px;
}
.notcie_title>p{
    font-size: 17px;
    font-weight: 600;
    color: #8d8d8d;
    margin-bottom: 10px;
    letter-spacing: -1.3px;
    
}
.notcie_title>p:last-of-type{
    margin-bottom: 162px;
}
.notice_btn_L::after{
    position: absolute;
    content: "";
    top: 18px;
    left: 19px;
    width: 10px;
    height: 10px;
    border-left: 3px solid white;
    border-top: 3px solid white;
    transform: rotate(-45deg);
   
}
.notice_btn_R::after{
    position: absolute;
    content: "";
    top: 18px;
    left: 19px;
    width: 10px;
    height: 10px;
    border-left: 3px solid white;
    border-top: 3px solid white;
    transform: rotate(135deg);
   
}
.notice_slide{
    border-radius: 15px;
    background-color: #f7f7f7;
    z-index: 99;
}
.noti_slid_flex{
    display: flex;
}

.noti_slide1{
    padding: 50px 43px;
}
.noti_slide2{
    margin-left: 58px;
    padding: 50px 43px;
}
.noti_slide_img{
    width: 312px;
    height: 202px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    z-index: 99;
}
.nsi1{
    background-image: url(../img/poster1.jpg);
}
.nsi2{
    background-image: url(../img/poster2.jpg);
}
.noti_news{
    width: 57px;
    height: 27px;
    margin-top: 38px;
    margin-bottom: 19px;
    color:  #09847F;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    border:1px solid #09847F;

}
.noti_news>p{
    margin: 7px 0;
    letter-spacing: 0px;
}
.notice_slide>a>p{
    font-size: 16px;
    color:  #8d8d8d;
    margin-bottom: 29px;
    letter-spacing: 0px;
}

.notice_slide>a>p:first-of-type{
    font-size: 18px;
    color: black;
    letter-spacing: 0px;
}

.dot{
    display: none;
}

.notice_banner{
    display: flex;
    position: absolute;
    background-color: #09847F;
    margin: 100px 260px;
    padding: 71px 85px;
    border-radius: 60px;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.15);
    z-index: 10;
}
.flex{
    display: flex;
}
.flex>a{
    color: white;
}
.flex>a>h2{
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bolder;
}   
.flex>a>p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
}
.notice_ban_img{
    width: 118px;
    height: 95px;
    background-size: cover;
    background-position: center;
}
.ban_img1{
    position: relative;
    background: url(../img/icon_experience.svg)center/contain no-repeat;
    
    margin-left: 122px;
    margin-right: 172px;
}

.ban_img2{
    background: url(../img/icon_theater.svg)center/contain no-repeat;
    margin-left: 107px;
}
.ban_img1::after{
    position: absolute;
    content: "";
    top:50%;
    transform: translateY(-50%);
    left: 200px;
    height: 190px;
    border-right:1px solid #259b97;
}
footer{
    margin-top: 250px;
}
.dokdo_bg{
    position: relative;
    width: 100%;
    height: 680px;
    flex-direction: column;
    background: url(../img/bg_banner\ \(1\).jpg)center/contain no-repeat;

}
.dokdo_bg_wrap_img{
    width: 180px;
    height: 77px;
    background: url(../img/img_logo2.svg)center/contain no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    transform: translateY(200px);

}
.dokdo_bg p{
    width: 420px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 30px;
    align-items: center;
    position: relative;
    color: #444;
    transform: translateY(200px);

}
.dokdo_bg p::before{
    content:' "경상북도 울릉읍 독도리 1-96"';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    color: #fff;
    box-sizing: border-box;
    
    animation: typing 3.5s steps(31) alternate infinite; 
    border-right: 1px solid #fff;
}
@keyframes typing{
    0%{width:0%;}
   100%{width: 100%;}
}


.footer_in{
    width: 100%;
    background-color: #393846;
    z-index: 1;
}
.footer_in_wrap{
    display: flex;
    padding: 35px;
    margin-left: 258px;


}
.footer_in_ul>ul{
    display: flex;
    margin-bottom: 22px;
}
.footer_in_ul>ul>li{
    font-size: 12px;
    color: white;
    font-weight: 100;
    margin-right: 20px;
}
.footer_in_ul>ul>li>a{
    color: white;
}
.footer_in_ul>p{
    font-size: 12px;
    font-weight: 100;
    color: #999;
    letter-spacing: 1px;
    margin-top: 37px;
}

.wa{
    margin-left: 564px;
    margin-top: 57px;
    width: 98px;
    height: 71px;
    background-image: url(../img/wa_mark.svg);
  
}
.dokdo_way{
    position: relative;
    z-index: 4;
}
.dokdo_way>a{
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #b4613d;
    text-align: center;
    margin-left: 35px;
    box-sizing: border-box;
    padding-top: 40%;
    color: white;
    font-size: 17px;
    z-index: 4;
    
}
.dokdo_way::before{
    content: "";
    position: absolute;
    display: block;
    width: 26px;
    height: 31px;
    top:40px;
    left:100px;
    background-image: url(../img/icon_map.svg);
    z-index: 4;
   
}
.dokdo_way>a:hover::after{
    width: 190px;
    height: 190px;
    position: absolute;
    content: "";
    display: block;
    background-color: #b4613d;
    border-radius: 50%;
    z-index: -1;
    animation: circle 0.6s infinite;
}
@keyframes circle{
    0%{ width: 160px; height: 160px; opacity: 0; top: 0px; left: 20px;}
    100%{ width: 190px; height: 190px; opacity: 1;  top:-15px; left: 20px;}
}


@media (max-width : 1400px){

    .gnb_ul{
        display: none;
    }
    header{
        padding: 18px 32px;
    }
    .member_menu{
        display: block;
    }
    .member{
        margin-left: 200px;
    }
    
    .logo{
        width: 45px;
        height: 45px;
    }
    .logo_txt{
        width: 300px;
        height: 45px;
    }
    .bg_img{
        width: 835px;
        height: 927px;
    }
    .visual{
        margin-top: 149px;
        padding: 0 49px;
        height: 696px;  
    }
    .slogan{
        height: 455px;
    }
    .slide_title{   
        padding: 0;
        margin-left: 140px;
    }   
    .slide_title_img{
        width: 455px;
        height: 220px;
    }
    .slide_btnL{
        width: 0px;
        height: 0px;
    }
    .slide_btnR{
        width: 0px;
        height: 0px;
    }
    .slide_btnL::after{
        top: 0px;
        left: 0px;
        width: 14px;
        height: 14px;
    }
    .slide_btnR::after{
        top: 0px;
        left: 0px;
        width: 14px;
        height: 14px;
    }
    .slogan_btn{
        margin: 90px 256px;  
    }
    .slogan_btn_flex{
        margin: 24px 38px;
    }
 
    .visual_btn_cicle{
        bottom: 0px;
        right:0px;
        width: 163px;
        height: 163px;
    }
    .btn_cicle_img{
        margin: 42px 69px;
        width: 26px;
        height: 28px;
        margin-bottom: 11px;
    }
    .visual_btn_cicle>p{
        font-size: 16px;
    }
    .info{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
        flex-direction: column;
        padding: 100px 32px;
    
    }
    .info_wrap{
        flex-direction: column;
        width: 100%;

        
    }     
    .dokdo_wrap{
        letter-spacing: -2px;
  
    }
    
    .dokdo_wrap>h3{
        margin-bottom: 41px;    
    }
    .dokdo_btn{
        margin-top: 98px;
        margin-right: 242px;
        margin-bottom: 69px;

    }
    .dokdo_btn_flex{
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        color: #09847F;
        margin: 26px 42px;
    }
    .dokdo_btn_flex>svg{
        width: 16px;
        height: 16px;
    }

    .dokdo{
      
        background: url(../img/img_dokdo.png)no-repeat;
        background-position: bottom right;
        border-radius:50px;
        margin-bottom: 29px;

    }

    .view_flex{
        border-bottom: 3px solid  #474747;
    }

    .view_list{
        position: relative;
        margin-left: 16px;
    }
    .notice_cicle{
        display: none;
    }


    .notice{
        flex-direction: column;
        padding: 0px 32px; 
    }
    .notice_wrap{
        flex-direction: column;
        margin: 0 0px;
    }
    .notcie_btn_wrap{
        display: none;
    }
    .notcie_title{
        flex-direction: column;
        margin-right: 0;
    }
    .notcie_title>h3{
        font-size: 38px;
        letter-spacing: -4px;
        margin-top: 0px;
        margin-bottom: 23px;
    }
    .notcie_title>p{
    display: inline;
    font-size: 18px;
    margin: 0;
    }
    
    .notice_slide{
        display: flex;
        border-radius: 15px;
        background-color: #f7f7f7;
        margin-top: 38px;
    }
    .flex{
        display: flex;
    }
    
    .noti_slide1{
        padding: 33px;
    }
    .noti_slide2{
        margin-left: 22px;
        padding: 33px;
    }
    .noti_slide_img{
        width: 309px;
        height: 219px;
    }
    .noti_news{
        width: 63px;
        height: 31px;
        margin-top: 42px;
        margin-bottom: 20px;
    }
    .notice_slide>a>p{
        margin-bottom: 36px;
    }

    .dot{
        margin: 39px auto 55px auto;
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #bec0c9;
    }
    
    .notice_banner{
        flex-direction: column;
        position: absolute;
        background-color: #09847F;
        margin: 0;
        margin-left: 33px;
        padding: 56px 68px 58px 56px;
        border-radius: 60px;
        box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.15);
        z-index: 10;

    }
    .flex{
        position: relative;
    }
    .flex>a{
        color: white;
    }
 
    .flex>a>h2{
        font-size: 28px;
        margin-bottom: 22px;
        font-weight: bolder;
    }   
    .flex>a>p{
        font-size: 16px;
        line-height: 26px;
        font-weight: 300;
    }
    .notice_ban_img{
        width: 108px;
        height: 98px;
    }
    .ban_img1{
        margin-left: 265px;
        margin-right: 0px;
        margin-bottom: 94px;
    }
    .ban_img2{
        width: 96px;
        height: 99px;
       margin-left: 242px;
    }

    .ban_img1::after{
        top:-190px;
        left: -215px;
        height: 660px;
        transform: rotate(90deg);
   
    }
    .dokdo_way{
        display: none;
    }


    footer{
        margin-top: 0px;
        padding-top:242px;
       
    }
    .dokdo_bg{
        height: 740px;
        background-size: cover;
        
    }
    .dokdo_bg_wrap_img{
        width: 195px;
        height: 84px;
        margin-top: 75px;
    }
    .dokdo_bg p{
        width: 434px;
        margin-top: 34px;
    }
    .dokdo_bg p::before{
        content:' "경상북도 울릉읍 독도리 1-96"';
        width: 100%;
        height: 100%;   
        display: block;
        position: absolute;
        color: #fff;
        box-sizing: border-box;
        
        animation: typing 3.5s steps(31) alternate infinite; 
        border-right: 1px solid #fff;
    }
    @keyframes typing{
        0%{width:0%;}
       100%{width: 100%;}
    }

    .footer_in_wrap{
        padding: 46px 0px 35px 32px;
        margin-left: 0px;
    }
    .footer_in_ul>ul{
        margin-bottom: 27px;
    }
    .footer_in_ul>ul>li{
        font-size: 14px;
        margin-right: 0px;
    }

    .footer_in_ul>p{
        font-size: 15px;
        margin-top: 40px;
    }
    
    .wa{
        margin-left: 78px;
        margin-top:100px;
        width: 106px;
        height: 76px;
        background-repeat: no-repeat;
    }
    
}
